body {
	font-size: 20px;
	background-image: url('../Media/bg1.png');
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

input {
	font-size: 20px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #FFF8DC;
	border: none;
	border-radius: 5px;
}

div.mainsection {
	margin: 0 auto;
	border: 2px solid #FFF8DC;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url('../Media/bg2.png');
	width: 70%;
	min-height: 600px;
}
.textaligncenter {
	text-align: center;
}
.textalignleft {
	text-align: left;
}
.center {
	margin: 0 auto;
	text-align: center;
}
select {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #FFF8DC;
	border: none;
	font-size: 18px;
}
select.normal {
	width: 150px;
}
select.countryselect {
	margin-bottom: 20px;
	width: 350px;
}

select.convertorValues {
	margin-left:5px;
}

select:-moz-focusring {
	color: transparent;
    text-shadow: 0 0 0 #000;
}
select:hover, select:active, select:focus {
	cursor: pointer;
	outline: none;
}
.warning {
	font-size: 23px;
	color: maroon;
}
p#percentlifepassed {
	font-size: 25px;
}
nav ul li {
	width: 170px;
	height: 25px;
	text-align: center;
	background-color: #FFF8DC;
	display: inline-block;
	margin: 5px 10px;
	padding: 5px;
	border-radius: 10px;
}
a, a:visited {
	color: black;
}
div.FAQBody ul, li {
	list-style-type: none;
}
ul.navitems {
	list-style: none;
	text-align: center;
	padding-left: 0;
}
h1.title {
	text-decoration: underline;
}
div.firstletterbigger p:first-letter {
	font-size: 110%;
}
div#moreinfo {
	font-size: 75%;
	height: 100px;
}
.dontdisplay {
	display:none;
}
.display {
	display:block;
}
table#learray td, table{
	border: none;
	border-bottom: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
}
td {
	padding: 10px;
}
h3 {
	font-size: 120%;
}

.absolute-hide {
	display: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noselect:hover {
	cursor:default;
}

.comingSoon {
	color: darkgrey;
	font-size: 70%;
	margin-bottom: none;
}

a#customizeExpectancy {
	font-size: 65%;
	text-decoration: none;
}