body {
	background-image: url('backgroundtwo.png');
	margin: 0 auto;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	padding: 5px;
	font-size: 50px;
	text-align: center;
}
select {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 110%;
	width: 80%;
	margin: 0 auto;
}
select.normal {
	background-color: #FFF8DC;
	border: none;
}
select.countryselect {
	margin-bottom: 20px;
	background-color: #FFF8DC;
	border: none;
}
.textcenter {
	text-align: center;
	font-size: 140%;
	font-weight: bold;
}

a:visited {
	color:black;
}

a {
	color: black;
}